@model ShoppingCartViewModel

@{
    ViewData["Title"] = "Shopping Cart";
}

<div class="row mx-1 px-1 pt-3 bg-white shadow-sm justify-content-center align-items-center">
    <div class="col-sm-8">
        <div class="text-center mb-4">
            <h2>CHECKOUT</h2>
        </div>
        <div class="table-responsive">
            <h4 class="pb-2">Here are the drinks in your shopping cart</h4>
            <table class="table table-sm table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-start">Quantity</th>
                        <th class="text-start">Description</th>
                        <th>Price</th>
                        <th colspan="2">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ShoppingCartItem item in Model.ShoppingCart.ShoppingCartItems)
                    {
                        <tr>
                            <td>x @item.Amount</td>
                            <td>@item.Drink.Name</td>
                            <td>@item.Drink.Price.ToString("c")</td>
                            <td>@((item.Amount * item.Drink.Price).ToString("c"))</td>
                            <td class="text-center"><a class="text-danger" asp-controller="ShoppingCart" asp-action="RemoveDrinkFromShoppingCart" asp-route-drinkId="@item.Drink.DrinkId"><i class="fas fa-trash-alt"></i></a></td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-end pe-2 pt-4" colspan="3"><strong>Total:</strong></td>
                        <td class="pt-4" colspan="2"><strong>@Model.ShoppingCartTotal.ToString("c")</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-12 mt-4">
            <div class="btn-group float-end pb-4" role="group" aria-label="Button group with nested dropdown">
                <a type="submit" class="btn btn-success me-1 btnLogin" asp-controller="Order" asp-action="CheckOut">Checkout</a>
                <div class="btn-group ms-1" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-success-custom dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true">
                        Add more drinks
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li><a class="dropdown-item" asp-controller="Drink" asp-action="Index" asp-route-category="Alcoholic">Alcoholic</a></li>
                        <li><a class="dropdown-item" asp-controller="Drink" asp-action="Index" asp-route-category="Non-alcoholic">Non Alcoholic</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
